[submodule "lib/RGBLEDBlender"]
	path = lib/RGBLEDBlender
	url = git@github.com:konikvranik/RGBLEDBlender.git
[submodule "RGBLEDBlender"]
	path = RGBLEDBlender
	url = https://github.com/konikvranik/RGBLEDBlender.git
